body,
html {
margin:0;
padding:0;
color:#000;
}
#wrap {
width:750px;
margin:0 auto;
background:#99c;
}
#header {
background:#ddd;
padding:5px 10px;
}
#nav {
background:#c99;
padding:5px 10px;
}
#main {
  float:left;
  width:480px;
  padding:10px;
  background:#9c9;
}
#sidebar {
background:#c9c;
}
#footer {
background:#cc9;
}


#footer {
  clear:both;
  padding:5px 10px;
  background:#cc9;
}

#sidebar {
  float:right;
  width:230px;
  padding:10px;
  background:#99c;
}

#nav ul {
margin:0;
padding:0;
list-style:none;
}

#nav li {
display:inline;
margin:0;
padding:0;
}

h2  {
  margin:0;
}

h3  {
  margin:0 0 1em;
}

#footer p {
margin:0;
}

* html #footer {
height:1px;
}
